<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game On!!!</title>
</head>
<body>

    <form action="/madlib">
        <p><label>Person: <input type="text" name="person"></label></p>
        <p><label>Color: <input type="text" name="color"></label></p>
        <p><label>Noun: <input type="text" name="noun"></label></p>
        <p>
            <label>Adjective:</label>
            <select name="adjective" type="text">
                <option value="cheerful">Cheerful</option>
                <option value="passionate">Passionate</option>
                <option value="kind">Kind</option>
                <option value="fearless">Fearless</option>
                <option value="easygoing">Easy Going</option>
                <option value="funny">Funny</option>
              </select>
        </p>
        <p><input type="submit"></p>
      </form>
    
</body>
</html>